.navigation ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.navigation li {
  margin: 0 15px;
}

.navigation a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5px;
}

.navigation a:hover {
  color: #ffa500;
  border-bottom: 1px solid #ffa500;
}


.content-container {
  max-width: 1140px;  
  margin: 20px auto;  
  padding: 0 20px;    
  
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}